<!-- Custom header override -->

<style>
#body .flex-block-wrapper {
    max-width: auto;
}

body:not(.print) #body .narrow .flex-block-wrapper {
    max-width: auto;
}

/* we limit width if we have large screens */
@media screen and (min-width: 81.25rem) {

    /* #sidebar/width + ./max-width */
    #body div.flex-block-wrapper {
      width: 100%;
      max-width: unset;
    }

    body:not(.print) #body .narrow .flex-block-wrapper {             
      width: 100%;
      max-width: unset;
    }
}

.footerFooter.showFooter p {
  text-align: center;
}
</style>
<!-- /Custom header override -->

